################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AlgoritmoPrimitivaGrafica/FileContentIndex/6f517f55-bc73-4f28-b753-f1ed522ef920.vsidx
